/*
        nav {
        height: 100px;
        flex: 75%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        vertical-align: middle;
        width: 100%;            
        height: 150px;            
        background-color: #3498db; 
        overflow: hidden;
    }

        nav ul a:hover{
        padding: 0;
        list-style-type: none;
        flex: 2;
        display: flex;
        color:#C8040E
        }

        nav li {
        display: inline;
        text-align: center;
        flex: 1;
        }

        nav a, nav span {
        display: inline-block;
        font-size: 2rem;
        height: 3rem;
        line-height: 1.7;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        }
        
        .navbar a.active,
        .navbar a:hover{
            color: red;
        }

*/
        /*
        .navbar{
            align-items: center;
            position: sticky;
            top: 0;
        }
        */

        /*
        nav ul{
            z-index: 10;
            float: left;
            align-items: center;
            color: #31081F;
            text-align: center;
            padding: 14px 16px;
            display: flex;
            background-color: var(--color-background);
            list-style-type: none; /* Removes bullet points *//*
            margin: 0;
            padding: 0;
        }
        
        nav{
            display: grid;
            grid-column: 4;
            grid-row: 1;
        }
*/

.navbar ul {
    list-style-type: none; /* Removes bullet points */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Contains the floated list items */
    background-color:#594B5D; /* Dark background color */
    display: flex; /* Aligns list items horizontally using Flexbox */
    justify-content: space-around; /* Distributes space evenly */
    position: sticky;
}

.navbar li a {
    display: block; /* Makes the entire link area clickable and allows padding/margin */
    color: white; /* White text color */
    text-align: center;
    padding: 14px 16px; /* Adds internal spacing around the text */
    text-decoration: none; /* Removes underlines from links */
      position: sticky;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar li a:hover {
    background-color: #ddd; /* Changes background color on hover */
    color: black;
      position: sticky;
}

h2 a {
    display: block; /* Makes the entire link area clickable and allows padding/margin */
    color: white; /* White text color */
    text-align: center;
    padding: 14px 16px; /* Adds internal spacing around the text */
    text-decoration: none; /* Removes underlines from links */
    position: sticky;
}

.contact ul{
    list-style-type: none; /* Removes bullet points */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Contains the floated list items */
    background-color: #003E1F; /* Dark background color */
    display: flex; /* Aligns list items horizontally using Flexbox */
    justify-content: space-around; /* Distributes space evenly */
}
.contact li{
    color: white; /* White text color */
    text-align: center;
    padding: 14px 16px; /* Adds internal spacing around the text */
}
.contact li a{
    display: block; /* Makes the entire link area clickable and allows padding/margin */
    color: white; /* White text color */
    text-align: center;
    padding: 14px 16px; /* Adds internal spacing around the text */
    text-decoration: none; /* Removes underlines from links */
}
.contact li a:hover {
    background-color: #ddd; 
    color: black;
}
footer{
    width: 100%;
}

/*CSS Website Layout*/
* Style the topnav */
.navbar ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  grid-row: 1 / -1;
}

/* Style links in topnav */
.navbar ul li a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.navbar ul li a:hover {
  background-color: #dddddd;
  color: black;
}

.contact ul{
    list-style-type: none; /* Removes bullet points */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Contains the floated list items */
    background-color: #003E1F; /* Dark background color */
    display: flex; /* Aligns list items horizontally using Flexbox */
    justify-content: space-around; /* Distributes space evenly */
}
.contact li{
    color: white; /* White text color */
    text-align: center;
    padding: 14px 16px; /* Adds internal spacing around the text */
}
.contact li a{
    display: block; /* Makes the entire link area clickable and allows padding/margin */
    color: white; /* White text color */
    text-align: center;
    padding: 14px 16px; /* Adds internal spacing around the text */
    text-decoration: none; /* Removes underlines from links */
}

.contact li a:hover {
    background-color: #ddd; 
    color: black;
}
footer{
    width: 100%;
}

p.flex-container {
  display: flex;
  /* Show the flex items horizontally */
  flex-direction: row;
}

p.flex-container > div {
  margin: 10px;
}

/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
  div.flex-container {
    flex-direction: column;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 8px;
  text-align: center;
  z-index: 1000;
}

header {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}
