/*
Make the level one heading pink, using the CSS color keyword hotpink.
Give the heading a 10px dotted border-bottomLinks to an external site. which uses the CSS color keyword purple.
Make the level 2 heading italic.
Give the ul used for the contact details a background-colorLinks to an external site. of #eeeeee, and a 5px solid purple borderLinks to an external site.. Use some paddingLinks to an external site. to push the content away from the border.
Make the links green on hover.
*/

body {
    background-color: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
    }

h1 {
    color: hotpink;
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-bottom: 10px dotted purple;
    }

h2 {
    font-style: italic;
    font-size: 1.5em;
    }

.job-title {
    color: #999999;
    font-weight: bold;
    }

a:link,
a:visited {
    color: #fb6542;
}

a:hover {
    text-decoration: none;
    color: green;
    }

ul {
    background-color: #eeeeee;
    border: 5px solid purple;
    padding: 25px;
    }