body {
  font: 1.2em / 1.5 sans-serif;
}
.one ul {
  max-width: 750px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.one a:link,
.one a:visited {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
  display: inline-block;
  text-decoration: none;
}

.one ul {
  display: flex;
  justify-content: space-between;
}
/*-----------------------Second Exercise------------------------*/
body {
  font: 1.2em / 1.5 sans-serif;
}
.two {
  max-width: 750px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.two li {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
}

.two ul {
  display: flex;
}

.two li {
  flex: 1;
}

.two li:first-child {
  flex: 2;
}
/*-----------------------Third Exercise------------------------*/
body {
  font: 1.2em / 1.5 sans-serif;
}
.three ul {
  width: 450px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.three li {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
  margin: 0.5em;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  flex: 1 1 auto;
}
